* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", Arial, sans-serif;
}

input.invalid {
  border: 1px solid red;
  background-color: #ffe6e6;
}


.userdetails-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./public/background-2.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.userdetails-form-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
}

.userdetails-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  sligh-items:center;
  margin-bottom:20px;
}

.form-group label {
font-size: 16px;
  color: #ffffff; /* White text color */
  margin-right: 10px; /* Add space between label and input */
  width: 50px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.submit-button {
  padding: 10px;
  background-color: #417fae;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 100%;
}

.submit-button:hover {
  background-color: #315c81;
}

.retrieved-data {
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}

.retrieved-data p {
  margin-bottom: 10px;
}

input[type="text"] {
  background-color: #2c2f33; /* Dark background for better contrast */
  color: #ffffff; /* White text for visibility */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

input[type="text"]::placeholder {
  color: #bbbbbb; /* Lighter text for the placeholder */
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #417FAE; /* Highlighted border on focus */
}





