* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
    
}
body {
    margin: 0;
    background: url('./public/background.jpg') no-repeat center center fixed; /* Replace with your image path */
    background-size: cover;
    color: #fff;
    min-height: 100vh;
}

.container{
    display:flex;
    height:100%;
 
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    backdrop-filter: blur(3.5px); /* Glassmorphism blur effect */
    border-right: 2px solid rgba(255, 255, 255, 0.2); /* Subtle border for separation */
}

.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    margin-bottom: 50px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }

.link:hover{
   
    color: #000;
    tranform:scale(1.1);
    transition: all 0.5s ease;
}
.active{
    /* background:#; */
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
} 